/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  margin: 0;
}

.errors {
  margin: 0;
  background: red;
}

.wrapper {
  background-color: #3b5998;
}

.wrapper:after {
  display: table;
  content: "";
  clear: both;
}

#nav-bar {
  width: 1000px;
  margin: auto;
}

#logo {
  font-size: xx-large;
}

#nav-list {
  color: white;
  list-style: none;
  margin: 0;
}

#nav-list li {
  margin: 20px 30px;
  float: left;
}

#nav-list li:first-child {
  margin: 10px 30px;
}

#nav-list li:last-child {
  margin: 10px 30px;
}

#nav-list a {
  color: white;
  text-decoration: none;
}

.content {
  width: 700px;
  margin: auto;
}

.content a {
  color: #3b5998;
  text-decoration: none;
}

.posts {
  list-style: none;
}

.post {
  border-top: 2px solid #3b5998;
  padding: 20px;
}

.user {
  margin: 40px;
}

.name {
  font-size: large;
}
